body {
    background-color: #fff0f3;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    text-align: center;
    width: 350px;
}

h1 { color: #d68c9a; font-size: 24px; margin-bottom: 5px; }
p { color: #bca0a5; font-size: 14px; margin-bottom: 30px; }

select {
    width: 100%;
    padding: 12px;
    border-radius: 15px;
    border: 1px solid #f8d7da;
    margin-bottom: 20px;
    outline: none;
}

button {
    width: 100%;
    padding: 15px;
    margin: 5px 0;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.btn-entrada { background-color: #d68c9a; color: white; }
.btn-saida { background-color: white; color: #d68c9a; border: 1px solid #d68c9a; }

.alert {
    background-color: #fce4ec;
    color: #c2185b;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.footer-link a {
    color: #f8bbd0;
    text-decoration: none;
    font-size: 12px;
    margin-top: 20px;
    display: block;
}