body { background-color: #fff0f3; font-family: sans-serif; display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0; }
.container { background: white; padding: 40px; border-radius: 25px; box-shadow: 0 10px 30px rgba(0,0,0,0.05); text-align: center; width: 320px; border: 1px solid #f8d7da; }
h1 { color: #d68c9a; margin-bottom: 5px; }
select { width: 100%; padding: 12px; border-radius: 10px; border: 1px solid #f8d7da; margin-bottom: 20px; }
button { width: 100%; padding: 15px; margin: 5px 0; border-radius: 10px; border: none; cursor: pointer; font-weight: bold; }
.btn-entrada { background-color: #d68c9a; color: white; }
.btn-saida { background-color: white; color: #d68c9a; border: 1px solid #d68c9a; }
.alert { background-color: #fce4ec; color: #c2185b; padding: 10px; border-radius: 10px; margin-bottom: 15px; }
.footer-link a { color: #d68c9a; text-decoration: none; font-size: 12px; display: block; margin-top: 20px; }